body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:1720px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:92px;
  width:796px;
  height:1720px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:852px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:386px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:376px;
  width:48px;
  height:48px;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:2px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:440px;
  width:673px;
  height:1px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:33px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:320px;
  width:670px;
  height:33px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:376px;
  width:118px;
  height:48px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:460px;
  width:69px;
  height:69px;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:467px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:491px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:549px;
  width:664px;
  height:1px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:505px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:488px;
  width:20px;
  height:24px;
  font-size:24px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:572px;
  width:69px;
  height:69px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:579px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:603px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:661px;
  width:664px;
  height:1px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:617px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:600px;
  width:20px;
  height:24px;
  font-size:24px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:684px;
  width:69px;
  height:69px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:691px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:715px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:773px;
  width:664px;
  height:1px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:729px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:712px;
  width:20px;
  height:24px;
  font-size:24px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:796px;
  width:69px;
  height:69px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:803px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:827px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:917px;
  width:664px;
  height:1px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:841px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:824px;
  width:20px;
  height:24px;
  font-size:24px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:975px;
  width:69px;
  height:69px;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:996px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1006px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1064px;
  width:664px;
  height:1px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:1006px;
  width:73px;
  height:24px;
  font-size:24px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1087px;
  width:69px;
  height:69px;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:1108px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1118px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1176px;
  width:664px;
  height:1px;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:1118px;
  width:73px;
  height:24px;
  font-size:24px;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:880px;
  width:441px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  white-space:nowrap;
}
#u2528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#0000FF;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:236px;
  width:101px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#0000FF;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:275px;
  width:778px;
  height:77px;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u2532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:357px;
  width:778px;
  height:231px;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
