body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1701px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:1708px;
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:104px;
  width:796px;
  height:1708px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2932 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:846px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2933 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:386px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2935 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:376px;
  width:48px;
  height:48px;
}
#u2936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:41px;
}
#u2937 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:377px;
  width:108px;
  height:41px;
}
#u2938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:2px;
}
#u2939 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:440px;
  width:673px;
  height:1px;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:33px;
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:331px;
  width:670px;
  height:33px;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:1135px;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:443px;
  width:676px;
  height:1135px;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:560px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#0000FF;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:308px;
  width:101px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#0000FF;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:347px;
  width:778px;
  height:216px;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u2949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:692px;
  width:93px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u2951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  font-size:20px;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:744px;
  width:163px;
  height:94px;
  font-size:20px;
}
#u2951_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  font-size:20px;
}
#u2951.mouseOver {
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:159px;
  word-wrap:break-word;
}
#u2953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  font-size:20px;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:744px;
  width:163px;
  height:94px;
  font-size:20px;
}
#u2953_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  font-size:20px;
}
#u2953.mouseOver {
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:159px;
  word-wrap:break-word;
}
#u2955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  font-size:20px;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:744px;
  width:163px;
  height:94px;
  font-size:20px;
}
#u2955_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  font-size:20px;
}
#u2955.mouseOver {
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:159px;
  word-wrap:break-word;
}
#u2957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  font-size:20px;
}
#u2957 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:744px;
  width:90px;
  height:94px;
  font-size:20px;
}
#u2957_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 255, 0.266666666666667);
  font-size:20px;
}
#u2957.mouseOver {
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:86px;
  word-wrap:break-word;
}
#u2959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:818px;
  width:15px;
  height:15px;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
