body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:853px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:293px;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:19px;
  width:749px;
  height:293px;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:304px;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:309px;
  width:745px;
  height:304px;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:144px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:275px;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:613px;
  width:745px;
  height:275px;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:219px;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:887px;
  width:745px;
  height:219px;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:257px;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:1106px;
  width:744px;
  height:257px;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:740px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:121px;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1363px;
  width:749px;
  height:121px;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
