body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:1720px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:92px;
  width:796px;
  height:1720px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:852px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:386px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:376px;
  width:48px;
  height:48px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:2px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:440px;
  width:673px;
  height:1px;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:33px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:320px;
  width:670px;
  height:33px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:376px;
  width:118px;
  height:48px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:460px;
  width:69px;
  height:69px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:467px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:491px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:549px;
  width:664px;
  height:1px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:505px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:488px;
  width:20px;
  height:24px;
  font-size:24px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:572px;
  width:69px;
  height:69px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:579px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:603px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:661px;
  width:664px;
  height:1px;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:617px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:600px;
  width:20px;
  height:24px;
  font-size:24px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:684px;
  width:69px;
  height:69px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:691px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:715px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:773px;
  width:664px;
  height:1px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:729px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:712px;
  width:20px;
  height:24px;
  font-size:24px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:796px;
  width:69px;
  height:69px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:803px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:827px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:917px;
  width:664px;
  height:1px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:841px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:824px;
  width:20px;
  height:24px;
  font-size:24px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:975px;
  width:69px;
  height:69px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:996px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1006px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1064px;
  width:664px;
  height:1px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:1006px;
  width:73px;
  height:24px;
  font-size:24px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1087px;
  width:69px;
  height:69px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:1108px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1118px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1176px;
  width:664px;
  height:1px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:1118px;
  width:73px;
  height:24px;
  font-size:24px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:880px;
  width:441px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  white-space:nowrap;
}
#u2342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#0000FF;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:236px;
  width:101px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#0000FF;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:275px;
  width:778px;
  height:77px;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u2346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:357px;
  width:778px;
  height:231px;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
