body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:1720px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:92px;
  width:796px;
  height:1720px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:852px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:386px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:376px;
  width:48px;
  height:48px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:2px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:440px;
  width:673px;
  height:1px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:33px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:320px;
  width:670px;
  height:33px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:376px;
  width:118px;
  height:48px;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:460px;
  width:69px;
  height:69px;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:467px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:491px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:549px;
  width:664px;
  height:1px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:505px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u1509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:491px;
  width:73px;
  height:24px;
  font-size:24px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:572px;
  width:69px;
  height:69px;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:579px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:603px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:661px;
  width:664px;
  height:1px;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:617px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u1522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:603px;
  width:73px;
  height:24px;
  font-size:24px;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:684px;
  width:69px;
  height:69px;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:691px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:715px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:773px;
  width:664px;
  height:1px;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:729px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u1535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:715px;
  width:73px;
  height:24px;
  font-size:24px;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:796px;
  width:69px;
  height:69px;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:803px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:827px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:885px;
  width:664px;
  height:1px;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:841px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u1548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:827px;
  width:73px;
  height:24px;
  font-size:24px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:918px;
  width:69px;
  height:69px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:939px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:949px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1007px;
  width:664px;
  height:1px;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:949px;
  width:73px;
  height:24px;
  font-size:24px;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1030px;
  width:69px;
  height:69px;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:1051px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1061px;
  width:49px;
  height:24px;
  font-size:24px;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1119px;
  width:664px;
  height:1px;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:1061px;
  width:73px;
  height:24px;
  font-size:24px;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#0000FF;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:236px;
  width:101px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#0000FF;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:275px;
  width:778px;
  height:77px;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u1576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:357px;
  width:778px;
  height:231px;
  font-size:20px;
  color:#0000FF;
  text-align:left;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
