body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:7740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7678px;
  height:5115px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:65px;
  width:7678px;
  height:5115px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2550px;
  width:7674px;
  visibility:hidden;
  word-wrap:break-word;
}
